# Entorno virtual
.venv/
venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de logs
*.log

# Configuración de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
